* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Libre Franklin', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    font-style: italic;
}

header {
    background-image: url("images/MirrorPattern.png");
    background-color: grey;
    background-size: cover;
    border-bottom: 5px solid;
    border-color: burlywood;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header h1 {
    padding: 25px 10px 20px 10px;
    font-style: italic;
    flex: 70%;
}

header nav {
    padding: 15px 10px 10px 10px;
    float: right;
    flex: 30%;
    text-align: right;
}

content {
    padding: 10px;
    display: flex;
    width: 100%;
}

content section {
    flex: 50%;
    float: right;
}

content section h2 {
    font-size: 30px;
    font-style: italic;
    flex: auto;
}

#portrait {
    padding: 10px;
    flex: 50%;
    min-height: 200px;
}

.funstuff {
    display: flex;
    flex: auto;
    min-height: 400px;

}

.otherfunstuff {
    display: flex;
    flex: auto;
    min-height: 400px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-image: url("images/MirrorPattern.png");
    background-color: grey;
    background-size: cover;
    border-top: solid 5px;
    border-color: burlywood;
    min-height: 50px;
    width: 100%;
}

footer h3 {
    padding: 7px 15px 15px 15px;
    text-align: left;
    font-size: 25px;
    font-style: italic;
    flex: 50%;
}

footer ul {
    padding-right: 400px;
    text-align: left;
    float: right;
    flex: 50%;
}