* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Libre Franklin', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3vw;
    font-style: italic;
}

header {
    background-image: url("images/MirrorPattern.png");
    background-color: grey;
    background-size: cover;
    border-bottom: 3px solid;
    border-color: burlywood;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

h1 {
    padding: 25px 10px 20px 10px;
    font-size: 7vw;
    font-style: italic;
}

h2 {
    display: inherit;
    margin: 5px;
    font-size: 4vw;
    font-style: italic;
}

nav {
    padding: 15px 10px 10px 10px;
    flex: 30%;
    text-align: right;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.biography {
    flex: 1 1 50%;
    padding: 10px;
    font-size: 3vw;

}
.otherfunstuff {
    flex: 1 1 25%;
    border: 3px solid;
    border-color: burlywood;
    position: relative;
}

.otherfunstuff img {
    width: 100%;
    height: 100%;
}

.otherfunstuff p {
    font-size: 3.5vmin;
    color: white;
    background-color: darkgoldenrod;
    position: absolute;
    top: -2px;
    
}

.funstuff {
    flex: 2 1 75%;
    border: 3px solid;
    border-color: burlywood;
    position: relative; 
}

.funstuff img {
    height: 100%;
    width: 100%;    
}

.funstuff p {
    font-size: 3.5vmin;
    color: white;
    background-color: darkgoldenrod;
    position: absolute;
    top: -2px;   
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    background-image: url("images/MirrorPattern.png");
    background-color: grey;
    background-size: cover;
    border-top: solid 3px;
    border-color: burlywood;
    min-height: 50px;
    width: 100%;
}

footer h3 {
    padding: 7px 15px 15px 10px;
    font-size: 3vw;
    font-style: italic;
}

